.container.mx-auto.px-4.py-8
  .flex.justify-between.items-center.mb-6
    %h1.text-3xl.font-bold.text-gray-900.dark:text-white Order Management
    = link_to 'New Order', new_order_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"

  .relative.overflow-x-auto.shadow-md.sm:rounded-lg
    %table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
      %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
        %tr
          %th.px-6.py-3{scope: "col"} Order ID
          %th.px-6.py-3{scope: "col"} Customer
          %th.px-6.py-3{scope: "col"} Date
          %th.px-6.py-3{scope: "col"} Status
          %th.px-6.py-3{scope: "col"} Total
          %th.px-6.py-3{scope: "col"} Actions
      %tbody
        - @orders.each do |order|
          %tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.hover:bg-gray-50.dark:hover:bg-gray-600
            %td.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white
              = "#%05d" % order.id 
            %td.px-6.py-4= order.customer.name
            %td.px-6.py-4= order.created_at.strftime("%B %d, %Y")
            %td.px-6.py-4
              %span.text-xs.font-medium.mr-2.px-2.5.py-0.5.rounded{class: (order.status == 'Completed' ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800')}= order.status
            %td.px-6.py-4.font-medium.text-gray-900.dark:text-white= number_to_currency(order.total_amount, unit: "₹")
            %td.px-6.py-4.flex.space-x-3
              = link_to icon(:eye), order_path(order), title: "View Details", class: "font-medium text-blue-600 dark:text-blue-500 hover:underline"
              = link_to icon(:pencil), edit_order_path(order), title: "Edit Details", class: "font-medium text-yellow-600 hover:underline"
              = button_to icon(:trash), order_path(order), title: "Delete Record", method: :delete, data: {turbo_confirm: 'Are you sure?'}, class: "font-medium text-red-600 dark:text-red-500 hover:underline bg-transparent border-0 p-0 cursor-pointer"