.max-w-md.mx-auto.mt-10
  %h2.text-2xl.font-bold.mb-6.text-gray-900.dark:text-white Accept Invitation

  = form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: "space-y-6 bg-white p-8 rounded-lg shadow-md border border-gray-200 dark:bg-gray-800 dark:border-gray-700" }) do |f|
    
    = render "devise/shared/error_messages", resource: resource
    
    = f.hidden_field :invitation_token

    - if f.object.class.require_password_on_accepting
      .mb-6
        = f.label :password, "Create a Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        = f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"

      .mb-6
        = f.label :password_confirmation, "Confirm Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        = f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"

    = f.submit "Set my password & Join", class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"