.max-w-6xl.mx-auto.mt-10
  .flex.justify-between.items-center.mb-6
    %h1.text-2xl.font-bold.text-gray-900.dark:text-white Manage Roles
    = link_to "New Role", new_role_path, class: "text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5"

  .bg-white.dark:bg-gray-800.rounded-lg.shadow.overflow-hidden
    %table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
      
      %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
        %tr
          %th.px-6.py-3 Name
          %th.px-6.py-3 Description
          %th.px-6.py-3 Actions
          
      %tbody
        - @roles.each do |role|
          %tr.border-b.dark:border-gray-700
            
            %td.px-6.py-4.font-medium.text-gray-900.dark:text-white= role.name
            %td.px-6.py-4= role.description
            
            %td.px-6.py-4.flex.gap-4
              = link_to "Edit", edit_role_path(role), class: "text-blue-600 dark:text-blue-500 hover:underline font-medium"
              
              - if role.name != 'Admin'
                = button_to "Delete", role_path(role), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "text-red-600 dark:text-red-500 hover:underline bg-transparent border-0 p-0 cursor-pointer font-medium"